// Variables
:root {
  --text-active: #ECE9E9;
  --text-inactive: #BCBBBB;
  --foreground-light: #484848;
  --foreground: #272727;
  --background: #1C1C1E;
  --stroke-active: #484848;
  --stroke-inactive: #2A2A2D;
  --primary-purple: #9937EB;
  --secondary-purple: #6C27A7;
  --border-radius-circular: 15px;
  --border-radius-rounded: 11px;
  --border-radius-square: 6px;
  font-size: 16px;
  color: var(--text-active);
  background-color: var(--background);
  font-family: 'Oxanium', sans-serif;
}
// Styles for width above 768px
h1 {
  font-size: 36px;
  font-weight: 800;
};
h2 {
  font-size: 24px;
  font-weight: 700;
};
h3 {
  font-size: 20px;
  font-weight: 600;
};
h4 {
  font-size: 20px;
  font-weight: 500;
};
h5 {
  font-size: 16px;
  font-weight: 600;
};
h6 {
  font-size: 16px;
  font-weight: 500;
};

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
    font-weight: 700;
  };
  h2 {
    font-size: 20px;
    font-weight: 600;
  };
  h3 {
    font-size: 20px;
    font-weight: 500;
  };
  h4 {
    font-size: 16px;
    font-weight: 600;
  };
  h5 {
    font-size: 16px;
    font-weight: 500;
  };
  h6 {
    font-size: 16px;
    font-weight: 300;
  };
}

@media (max-width: 320px) {
  h1 {
    font-size: 20px;
    font-weight: 600;
  };
  h2 {
    font-size: 16px;
    font-weight: 500;
  };
  h3 {
    font-size: 14px;
    font-weight: 300;
  };
  h4 {
    font-size: 8px;
    font-weight: 500;
  };
  h5 {
    font-size: 14px;
    font-weight: 300;
  };
  h6 {
    font-size: 8px;
    font-weight: 500;
  }
}
